{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  </head>
    <div class="mainTitle">Welcome To Microcontroller Testing Platform </div>
    <hr>
    <div class="listHeader"> Select required project to test your MC</div>
    <ul class="list">
        <a href="{% url 'rw_data' %}" class="item"><li class="item">Display Temperature From a Remote Arduino</li><img src="https://img.icons8.com/nolan/64/thermometer.png"/></a>
        <a href="#" class="item"><li class="item">Arduino Security Camera with Motion detection</li><img src="https://img.icons8.com/external-filled-color-icons-papa-vector/78/null/external-Motion-detection-pixel-perfect-RGB-color-icon-iot-filled-color-icons-papa-vector.png"/></a>
        <a href="#" class="item"><li class="item">GPS Location Project with Temboo, Twilio and Google Maps</li><img src="https://img.icons8.com/external-flatarticons-blue-flatarticons/65/null/external-GPS-Location-Map-3d-pring-and-communication-flatarticons-blue-flatarticons.png"/></a>
    </ul>

{% endblock content %}