body {
    background-color: white;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: rebeccapurple; */
}

canvas#myChart{
  width: 90% !important;
  height: 80% !important;
  display: block;
  box-sizing: border-box;
}

.list .item{
    text-decoration: none !important;
    margin: 0 0 15 0;
    color: darkslategrey;;
}

.mainTitle{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: math;
    margin-top: 15px;
    margin-bottom: 20px;
}

.listHeader{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    font-family: sans-serif;
}

.home, .back{
    text-decoration: none;
    margin-left: 25px;
}

.display_txt{
    margin-top: 25px;
    font-family: fangsong;
    font-size: 25px;
}

.footer{
    margin: 40 0 0 0;
}

 .form .switch {
    position: relative;
    display: inline-flex;
    width: 50px;
    height: 19px;
    margin-left: 10px;
  }
  
  .form .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .form .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .form .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .form input:checked + .slider {
    background-color: #2196F3;
  }
  
  .form input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .form input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .form .slider.round {
    border-radius: 34px;
  }
  
  .form .slider.round:before {
    border-radius: 50%;
  }